#not-home {
    background-color: rgb(247, 143, 8);
}

#not-start {
    background-color: rgb(247, 143, 8);
}

#dest-latitude {
    background-color: beige;
    max-width: 100%;
    width: 5em;
}

#dest-longitude {
    background-color: beige;
    max-width: 100%;
    width: 5em;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#start-bottun {
    width: 300px;
}
